{% extends "Blog/base.html" %}
{% load crispy_forms_tags %}

{% block contenido %}
<div style="display:flex; justify-content:center; align-items:center;">
    <form method="POST"> {% comment %}<form method="POST" action="{% url 'perfil' %}"></form> {% endcomment %}
        <div class="form-group">
            {% csrf_token %}
            {{form | crispy}}
        </div>
        <button type="submit" class="btn btn-success">Log in</button>
    </form>
    <div>
        <small>
            Necesitas una cuenta? <a href="{% url 'registro' %}">Registrate</a>
        </small>
    </div>
</div>
{% endblock %}